[submodule "json-to-table"]
	path = json-to-table
	url = https://github.com/nlink-jp/json-to-table.git
[submodule "rex"]
	path = rex
	url = https://github.com/nlink-jp/rex.git
[submodule "sdate"]
	path = sdate
	url = https://github.com/nlink-jp/sdate.git
[submodule "csv-to-json"]
	path = csv-to-json
	url = https://github.com/nlink-jp/csv-to-json.git
[submodule "json-to-sqlite"]
	path = json-to-sqlite
	url = https://github.com/nlink-jp/json-to-sqlite.git
[submodule "lookup"]
	path = lookup
	url = https://github.com/nlink-jp/lookup.git
[submodule "pptx-to-markdown"]
	path = pptx-to-markdown
	url = https://github.com/nlink-jp/pptx-to-markdown.git
[submodule "json-filter"]
	path = json-filter
	url = https://github.com/nlink-jp/json-filter.git
[submodule "markdown-viewer"]
	path = markdown-viewer
	url = https://github.com/nlink-jp/markdown-viewer.git
[submodule "jstats"]
	path = jstats
	url = https://github.com/nlink-jp/jstats.git
[submodule "jviz"]
	path = jviz
	url = https://github.com/nlink-jp/jviz.git
[submodule "eml-to-jsonl"]
	path = eml-to-jsonl
	url = https://github.com/nlink-jp/eml-to-jsonl.git
[submodule "msg-to-jsonl"]
	path = msg-to-jsonl
	url = https://github.com/nlink-jp/msg-to-jsonl.git
[submodule "cclaude"]
	path = cclaude
	url = https://github.com/nlink-jp/cclaude.git
[submodule "mcp-guardian"]
	path = mcp-guardian
	url = https://github.com/nlink-jp/mcp-guardian.git
[submodule "gem-rag"]
	path = gem-rag
	url = https://github.com/nlink-jp/gem-rag.git
[submodule "webhook-relay"]
	path = webhook-relay
	url = https://github.com/nlink-jp/webhook-relay.git
[submodule "mail-analyzer"]
	path = mail-analyzer
	url = https://github.com/nlink-jp/mail-analyzer.git
[submodule "mail-analyzer-gui"]
	path = mail-analyzer-gui
	url = https://github.com/nlink-jp/mail-analyzer-gui.git
[submodule "mail-analyzer-local"]
	path = mail-analyzer-local
	url = https://github.com/nlink-jp/mail-analyzer-local.git
[submodule "gem-search"]
	path = gem-search
	url = https://github.com/nlink-jp/gem-search.git
[submodule "gem-image"]
	path = gem-image
	url = https://github.com/nlink-jp/gem-image.git
[submodule "quick-translate"]
	path = quick-translate
	url = https://github.com/nlink-jp/quick-translate.git
[submodule "gem-query"]
	path = gem-query
	url = https://github.com/nlink-jp/gem-query.git
