[submodule "json-to-table"]
	path = json-to-table
	url = https://github.com/nlink-jp/json-to-table.git
[submodule "rex"]
	path = rex
	url = https://github.com/nlink-jp/rex.git
[submodule "sdate"]
	path = sdate
	url = https://github.com/nlink-jp/sdate.git
[submodule "csv-to-json"]
	path = csv-to-json
	url = https://github.com/nlink-jp/csv-to-json.git
[submodule "json-to-sqlite"]
	path = json-to-sqlite
	url = https://github.com/nlink-jp/json-to-sqlite.git
[submodule "lookup"]
	path = lookup
	url = https://github.com/nlink-jp/lookup.git
[submodule "pptx-to-markdown"]
	path = pptx-to-markdown
	url = https://github.com/nlink-jp/pptx-to-markdown.git
[submodule "json-filter"]
	path = json-filter
	url = https://github.com/nlink-jp/json-filter.git
[submodule "markdown-viewer"]
	path = markdown-viewer
	url = https://github.com/nlink-jp/markdown-viewer.git
[submodule "jstats"]
	path = jstats
	url = https://github.com/nlink-jp/jstats.git
[submodule "jviz"]
	path = jviz
	url = https://github.com/nlink-jp/jviz.git
